@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.text-primary {
  color: #4fbf8b;
}

.bg-primary {
  background-color: #4fbf8b;
}
.border-primary {
  border-color: #4fbf8b;
  border-width: 2px;
}
